
.categorias{
    height: 50px;
    width: 100%;
    background: #333333;
}
.dir-cat{
    height: 50px;
    width: 6%;
    background: #505050;
    display: inline-block;
}
.cat{
    height: 50px;
    width: 10.66%;
    background: #505050;
    display: inline-block;
    position: relative;
    bottom: 14px;
    text-align: center;
}
.ley-cat{
    position: relative;
    bottom: 5px;
}
.recomendacion{
    height: 35px;
    width: 100%;
    background: #333333;
    display: flex;
    justify-content: space-around;
}
.rec{
    box-sizing: content-box;
    height: 25px;
    background: #505050;
    display: inline-block;
    position: relative;
    top: 5px;
    text-align: center;
    border-radius: 12.5px;
}
.ley-rec{
    position: relative;
    bottom: 14px;
    margin-left: 5px;
    margin-right: 5px;
}
.resultados{
    width: 100%;
    background: grey;
}

.link-resul:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: black;
}
a:link{
    color: black;
}
.resul{
    height: 400px;
    width: 30%;
    background: white;
    display: inline-block;
    position: relative;
    margin: 1.5%;
}
.img-res{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.texto-top{
    box-sizing: content-box;
    height: 50px;
    position: absolute;
    top: 0%;
    text-align: center;
    background: white;
    width: 100%;
}
.texto-bot{
    height: 50px;
    background: white;
    width: 100%;
}
#selected{
    background: white;
}
.sinop{
    position: absolute;
    bottom: 60px;
    background: white;
    text-align: justify;
    padding-left: 4px;
    padding-right: 4px;
}
.fin-res{
    position: absolute;
    bottom: 0%;
    background: white;
    width: 100%;
    text-align: center;
}
#fin-izq{
    float: left;
    margin-left: 20px;
}
#fin-der{
    float: right;
    margin-right: 50px; 
}
.fav{
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 15px;
    right: 15px;
}
.but-fav{
    position: absolute;
    height: 30px;
    width: 30px;
    background:url('img/fav.png') no-repeat;
    border: none;
}
.barra-busc{
    height: 35px;
    width: 100%;
    background: #333333;
    padding: 2px;
}
.img-busc{
    margin-top: 4px;
    height: 80%;
}
.input-busc{
    height: 30px;
    width: 30%;
    background: #505050;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    position: absolute;
    left: 35%;
}
.buscar{
    background-color: #505050;
    border: 0;
    width: 80%;
    height: 90%;
    position: absolute;
    top: 0%;
}

.Header1{
    padding: 0%;
    margin: 0%;
    background-color: black;
}

.Logo{
    width: 275px;
    height: 100px;
}

.Lista_Header{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}

.Login{
    position: relative;
    float: right;
    top: -70px;
    right: 30px;
    width: 4cm;
    height: 1cm;
        
    
}

body{
    margin: 0%;
}