body{
    margin: 0px;
}
footer{
    background-color: #333333;
    display: flex;
    flex-direction: column;
}
.sec-foot{
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
    flex-wrap: wrap;
}

.red-social{
    height: 50px;
    width: 50px;
}

.txt-foot{
    color: white;
}
#img-logo-foot{
    height: 40px;
}