#datos-izq{
    width: 35%;
    height:  1000px;
    background: gray;
    display: inline-block;
    position: absolute;
    top: 112px;
    padding: 20px;
}
#datos-der{
    width: 70%;
    height: 1000px;
    background: gray;
    display: inline-block;
    position: absolute;
    top: 112px;
    left: 35%;
    padding: 20px;
}
.ele-rev{
    padding-left: 12.5px;
    padding-right: 12.5px;
    height: 25px;
    display: inline-block;
    position: relative;
    top: 5px;
    text-align: center;
    border-radius: 12.5px;
    background: white;
    margin: 3px;
}
.ele{
    padding-left: 12.5px;
    padding-right: 12.5px;
    height: 25px;
    display: inline-block;
    position: relative;
    top: 5px;
    text-align: center;
    border-radius: 12.5px;
    margin: 3px;
    background: white;
}
.boton-rev{
    width: 35%;
    height: 100px;
    display: inline-block;
    position: absolute;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
}
#aceptar{
    background: green;
}
#cancelar{
    background: red;
    left: 50%;
}
#vid-ani{
    width: 90%;
    display: inline-block;
    position: relative;
}
#rev-vid{
    padding-top: 5%;
}
#sinopsis{
    width: 90%;
    height: 200px;
    background: white;
    margin: 1px solid black;
}
.Header1{
    padding: 0%;
    margin: 0%;
    background-color: black;
}

.Logo{
    width: 275px;
    height: 100px;
}

.Lista_Header{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}

.Login{
    position: relative;
    float: right;
    top: -70px;
    right: 30px;
    width: 4cm;
    height: 1cm;
        
    
}
